html {
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}
*::after, *::before {
  box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

:root {
  --bg-body:#fff;
  --font-title:#212121;
  --accent:#2196f3;
  --font-p:#757575;
  --header-border:#ececec;
  --bg-order:#c4c4c4;
  --font-order:#fff;
  --font-active-button:#fff;
  --bg-hover-buton-order:#188ce8;
  --bg-our-team:#f5f4fa;
  --bg-footer:#2f303a;
  --footer-text:#fff;
  --footer-contacts:rgba(255, 255, 255, 0.6);
  --bg-button:#f5f4fa;
  --border-card:#eeeeee;
  --social-icon:#afb1b8;
  --backdrop:rgba(0, 0, 0, 0.2);
  --card-overlay:rgba(33, 150, 243, 0.9);
  --border-input:rgba(33, 33, 33, 0.2);
}

:root {
  --bg-body:#fff;
  --font-title:#212121;
  --accent:#2196f3;
  --font-p:#757575;
  --header-border:#ececec;
  --bg-order:#c4c4c4;
  --font-order:#fff;
  --font-active-button:#fff;
  --bg-hover-buton-order:#188ce8;
  --bg-our-team:#f5f4fa;
  --bg-footer:#2f303a;
  --footer-text:#fff;
  --footer-contacts:rgba(255, 255, 255, 0.6);
  --bg-button:#f5f4fa;
  --border-card:#eeeeee;
  --social-icon:#afb1b8;
}

.header__item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
}

.header__logo-text, .footer__logo-text {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: #2196F3;
  text-decoration: none;
}

.header__item-link, .header__list-item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__item-link:hover, .header__item-link:hover, .header__item-link .-link:focus, .header__list-item:hover, .header__list-item:hover, .header__list-item .-link:focus {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: #2196F3;
}

.header__mail {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__mail:hover, .header__mail:focus {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #2196F3;
  fill: #2196F3;
}

.header__telephone {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: #757575;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__telephone:hover, .header__telephone:focus {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #2196F3;
  fill: #2196F3;
}

.header__mail:hover, .header__mail:focus {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: #2196F3;
  fill: #2196F3;
}

.header__telephone:hover {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: #2196F3;
  fill: #2196F3;
}

.header__mail:hover .header__contact-list-item-icon, .header__telephone:hover .header__contact-list-item-icon, .header__mail:focus .header__contact-list-item-icon {
  fill: #2196F3;
}

.header__telephone:focus {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: #2196F3;
  fill: #2196F3;
}
.header__telephone:focus .header__contact-list-item-icon {
  fill: #2196F3;
}

.header__contact-list-item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header__contact-list-item:hover, .header__contact-list-item:focus {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #2196F3;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .header__contact-list-item {
    display: flex;
    flex-direction: row;
  }
}

.header__logo {
  display: inline;
}

.header__logo-link {
  color: #000000;
  text-decoration: none;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-right: 93px;
}
@media (max-width: 767px) {
  .header__logo-link {
    margin-right: 284px;
  }
}

.header__logo, nav {
  display: flex;
  align-items: center;
}

header {
  margin: 0 auto;
}

.header__item:not(.header__item-exception) {
  margin-left: 50px;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .header__contact-list {
    margin-left: 84px;
  }
}

.header__contact-list-item {
  margin-left: 50px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .header__contact-list-item {
    margin-left: 0px;
  }
}

.header__contact-list {
  display: flex;
  flex-direction: row;
}

.header__container {
  display: flex;
  align-items: center;
  border-bottom: solid 1px #ECECEC;
}

.header__contact-list-item-icon {
  margin-right: 10px;
  fill: var(--font-p);
}

.borderheader {
  border-bottom: 1px solid #ECECEC;
}

.header__active-page {
  color: #2196F3;
  border-bottom: 4px solid #2196F3;
}
.header__active-page::after {
  border-bottom: 4px solid #2196F3;
}

.header__list-item .header__item-link {
  display: block;
  padding-bottom: 32px;
  padding-top: 32px;
}

.header__desktop-menu {
  display: none;
}
@media (min-width: 768px) {
  .header__desktop-menu {
    display: flex;
  }
}

@media (min-width: 1200px) {
  .header__contact-list {
    margin-left: 280px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .header__contact-list {
    padding: 0;
    display: flex;
    flex-direction: column;
  }
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}

.header__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 767px) {
  .page-header {
    min-height: 60px;
  }
}

.section-one__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 26px;
  line-height: 42px;
  /* or 162% */
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
  width: 100%;
}
@media (min-width: 768px) {
  .section-one__title {
    width: 696px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.364;
    /* or 136% */
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.section-one__order-button {
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  /* identical to box height, or 188% */
  width: 200px;
  height: 50px;
  text-align: center;
  align-items: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  flex-direction: row;
}

.section-one {
  align-items: center;
  text-align: center;
}

.section-one {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-one {
  padding-top: 118px;
  padding-bottom: 128px;
}
@media (min-width: 768px) {
  .section-one {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.section-one {
  margin-left: auto;
  margin-right: auto;
}

.section-one__title {
  margin-bottom: 30px;
}

.section-two__list-benefits-item-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  letter-spacing: 0.03em;
  color: #757575;
}
@media (min-width: 768px) {
  .section-two__list-benefits-item-text {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.714;
    /* or 171% */
    letter-spacing: 0.03em;
    color: #757575;
    padding-top: 10px;
  }
}

.section-two__list-benefits {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .section-two__list-benefits {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media (min-width: 1200px) {
  .section-two__list-benefits {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}

.section-two__list-benefits-item-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
@media (min-width: 768px) {
  .section-two__list-benefits-item-title {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
  }
}

.section-two {
  margin: 0;
  padding-top: 94px;
}

.section-two__list-benefits-item-svg {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 30px;
  background: #F5F4FA;
  border-radius: 4px;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .section-two__list-benefits-item-svg {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    background: #F5F4FA;
    border-radius: 4px;
  }
}
.section-two__list-benefits-item-svg .section-two__list-benefits-item {
  padding-right: 30px;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .section-two__list-benefits-item {
    width: 354px;
    justify-content: center;
  }
}

.section-three__list-image {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.sectiom-three {
  display: none;
}
@media (min-width: 1200px) {
  .sectiom-three {
    display: block;
  }
}

.sectiom-three__container {
  display: none;
}
@media (min-width: 1200px) {
  .sectiom-three__container {
    display: block;
  }
}

.section-three__list-image-item {
  position: relative;
}

.section-three__list-image {
  gap: 30px;
}

.what-we-do .section-three__list-image-item-signature {
  width: 100%;
  position: absolute;
  left: 0;
  bottom: 0px;
  padding-top: 27px;
  padding-bottom: 27px;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--bg-body);
  background: rgba(47, 48, 58, 0.8);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
}

.section-four__team-list-item-card-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1875;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: #757575;
}

.section-four__team-list-item-card-text {
  text-align: center;
}

.section-four__team-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (min-width: 768px) and (max-width: 1199px) {
  .section-four__team-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }
}
@media (min-width: 1200px) {
  .section-four__team-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
  }
}

.section-four__team-list-item-card-social-links {
  padding-left: 32px;
  padding-right: 32px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;
}
.section-four__team-list-item-card-social-links .section-four__team-list-item-card-links {
  display: flex;
  padding: 0;
  justify-content: center;
}
.section-four__team-list-item-card-social-links .svg:not(:last-child) {
  margin-right: 10px;
}

.sli {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  fill: #AFB1B8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.sli:hover, .sli:focus {
  border-radius: 50%;
  background-color: var(--accent);
}
.sli:hover .section-four__team-list-item-card-links-icon, .sli:focus .section-four__team-list-item-card-links-icon {
  fill: var(--bg-body);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__social-links-item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border: 0;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border: 0;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer__social-links-item-link .section-four__team-list-item-card-links-icon {
  fill: var(--footer-text);
}

.section-four__team-list-item-card {
  background: #FFFFFF;
  /* material shadow v1 */
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 30px;
  margin-left: 15px;
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 768px) {
  .section-four__team-list-item-card {
    max-width: 354px;
    max-height: 536px;
  }
}

.section-four__team-list-item-card-text {
  padding-top: 10px;
  padding-bottom: 16px;
}

.section-four__team-list-item-card-name {
  padding-top: 30px;
}

.section-four {
  background: #F5F4FA;
}

.section-four {
  padding-top: 94px;
  padding-bottom: 94px;
}

.footer__subscribe-item-button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  padding: 10px 29px;
  border: 0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: var(--accent);
  color: var(--footer-text);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  width: 200px;
}
.footer__subscribe-item-button .section-four__team-list-item-card-links-icon {
  fill: var(--footer-text);
  margin-left: 10px;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .section-four__team-list-item {
    max-width: 354px;
  }
}

@media (min-width: 1200px) {
  .section-five__clients-list-item:not(:last-child) {
    margin-right: 30px;
  }
}

.section-five__clients-list {
  display: flex;
  flex-direction: column;
}
@media (min-width: 1200px) {
  .section-five__clients-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}
@media (max-width: 1199px) {
  .section-five__clients-list {
    gap: 15px;
  }
}
@media (min-width: 768px) and (max-width: 1199px) {
  .section-five__clients-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 738px;
  }
}

.section-five__clients-list-item-company-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--social-icon);
  border-radius: 4px;
  cursor: pointer;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.section-five__clients-list-item-company-link:hover, .section-five__clients-list-item-company-link:focus {
  border-color: var(--accent);
}
.section-five__clients-list-item-company-link:hover .section-five__clients-list-item-company-link-icon-client, .section-five__clients-list-item-company-link:focus .section-five__clients-list-item-company-link-icon-client {
  fill: var(--accent);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
@media (min-width: 768px) and (max-width: 1199px) {
  .section-five__clients-list-item-company-link {
    width: 226px;
  }
}

.section-five__clients-list-item-company-link-icon-client {
  fill: var(--social-icon);
}

.section-five__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.section-six__button-list-item {
  background: #F5F4FA;
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  /* identical to box height, or 162% */
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-left: 8px;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 22px;
  padding-right: 22px;
  border: 0;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 15px;
}

.section-six__button-list {
  margin-bottom: 50px;
}
@media (max-width: 768px) {
  .section-six__button-list {
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    width: 362px;
    justify-content: flex-start;
    align-items: flex-start;
  }
}
@media (max-width: 1200px) and (min-width: 768px) {
  .section-six__button-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}
@media (min-width: 1200px) {
  .section-six__button-list {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.section-six__button-list-item:hover, .section-six__button-list-item:focus {
  background: #2196F3;
  /* shadow-middle */
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  /* identical to box height, or 162% */
  text-align: center;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  border: 0;
}

.section-six__images-container-content-list-card-item-box-text {
  color: #000000;
}

.section-six__images-container-content-list-card-item-box-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */
  letter-spacing: 0.06em;
  color: #212121;
}

.section-six__images-container-content-list-card-item-box-text-two {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  /* identical to box height, or 188% */
  letter-spacing: 0.03em;
  color: #757575;
}

.section-six__button-list-item {
  padding-left: 18px;
}

.section-six__images-container-content-list-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
@media (min-width: 768px) {
  .section-six__images-container-content-list-card {
    justify-content: flex-start;
    align-items: flex-start;
  }
}
@media (min-width: 1200px) {
  .section-six__images-container-content-list-card {
    justify-content: center;
    align-items: center;
  }
}

.section-six__images-container-content-list-card-item {
  border: 1px solid #EEEEEE;
  height: 404px;
  width: 370px;
}
.section-six__images-container-content-list-card-item:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
@media (min-width: 768px) and (max-width: 1199px) {
  .section-six__images-container-content-list-card-item {
    width: 354px;
    height: 404px;
  }
}
@media (max-width: 767px) {
  .section-six__images-container-content-list-card-item {
    width: 450px;
    height: 404px;
  }
}

.section-six__images-container-content-list-card-item-box {
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.section-six__images-container-content-list-card-item-overlay {
  position: relative;
  overflow: hidden;
}

.section-six__images-container-content-list-card-item-overlay-text {
  position: absolute;
  top: 101%;
  left: 0;
  width: 100%;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--bg-body);
  background-color: var(--card-overlay);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.section-six__images-container-content-list-card-item:hover .section-six__images-container-content-list-card-item-overlay-text {
  top: 0%;
  background: rgba(33, 150, 243, 0.9);
  left: 0;
  width: 100%;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--bg-body);
  transition: top 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  position: absolute;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */
  letter-spacing: 0.03em;
  color: #FFFFFF;
}
.section-six__images-container-content-list-card-item .section-six__images-container-content-list-card-item-overlay-text {
  background: rgba(33, 150, 243, 0.9);
  width: 100%;
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  text-align: left;
  color: var(--bg-body);
  transition: top 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  position: absolute;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  /* or 156% */
  letter-spacing: 0.03em;
  color: #FFFFFF;
}

.section-six {
  margin-top: 94px;
  margin-bottom: 94px;
}

.title, .footer__subscribe-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  letter-spacing: 0.03em;
  color: #212121;
}

footer {
  background: #2F303A;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footer__contacts-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
@media (max-width: 768px) {
  .footer__contacts-link {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
}

.footer__contacts-location {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */
  letter-spacing: 0.03em;
  color: #FFFFFF;
}
@media (max-width: 768px) {
  .footer__contacts-location {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    text-align: center;
    letter-spacing: 0.03em;
    color: #FFFFFF;
  }
}

.footer__logo-text-two-partition {
  color: #FFFFFF;
}

footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__contacts {
  display: flex;
  flex-direction: column;
  padding-top: 9px;
}
@media (max-width: 1199px) {
  .footer__contacts {
    text-align: center;
  }
}

.footer__logo-link {
  color: #000000;
  text-decoration: none;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.footer .title .footer__subscribe-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--footer-text);
}

.footer__social {
  text-align: center;
}
@media (max-width: 767px) {
  .footer__social {
    margin-top: 60px;
  }
}
@media (min-width: 1200px) {
  .footer__social {
    margin-left: 70px;
  }
}

.footer__social-links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__social .footer__social-links-item {
  width: 44px;
  height: 44px;
}
.footer__social .footer__social-links-item:not(:last-child) {
  margin-right: 10px;
}

.footer__social .footer__social-links-item-link:focus, .footer__social .footer__social-links-item-link:hover {
  background-color: var(--accent);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

footer {
  display: flex;
  flex-direction: column;
}
@media (min-width: 768px) {
  footer {
    display: flex;
    flex-direction: row;
  }
}

.fk1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (min-width: 768px) {
  .fk1 {
    display: flex;
    flex-direction: row;
  }
}

.footer .footer__social-title {
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--footer-text);
}
@media (min-width: 1200px) {
  .footer .footer__social-title {
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--footer-text);
    display: flex;
    justify-content: left;
  }
}

.title, .footer__subscribe-title {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--footer-text);
  font-size: 14px;
}

.fk1, .footer__level-controller {
  display: flex;
  align-items: baseline;
}

footer {
  display: flex;
}

.ulfooter {
  display: flex;
}

@media (min-width: 1200px) {
  .footer__subscribe-title {
    margin-bottom: 20px;
  }
}

.footer__contacts-location {
  margin-top: 20px;
}

.footer__contacts-link {
  margin-top: 9px;
}

@media (max-width: 1199px) {
  .footer__subscribe {
    margin-top: 60px;
    text-align: center;
  }
}

.footer__subscribe-item {
  width: 100%;
}

.footer__subscribe-item-form {
  display: flex;
  flex-direction: column;
}
@media (max-width: 767px) {
  .footer__subscribe-item-form {
    justify-content: center;
    align-items: center;
  }
}

.footer__subscribe-item .footer__subscribe-item-input {
  height: 50px;
  width: 450px;
  margin-right: 12px;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--bg-footer);
  color: var(--footer-text);
}

.footer__subscribe-item-input {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 125% */
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
@media (min-width: 480px) and (max-width: 767px) {
  .footer__subscribe-item-input {
    width: 450px;
    margin-left: 0;
  }
}
@media (min-width: 1200px) {
  .footer__subscribe-item-input {
    width: 358px;
  }
}
@media (max-width: 767px) {
  .footer__subscribe-item-input {
    margin-bottom: 20px;
  }
}

.footer__social-links-item-link-icon {
  fill: var(--footer-text);
}

.footer__subscribe-item-button-svg {
  fill: var(--footer-text);
  margin-left: 10px;
}

@media (min-width: 1200px) {
  .footer__all-content {
    display: flex;
    flex-wrap: nowrap;
    align-items: baseline;
  }
}

@media (max-width: 1199px) {
  .footer__nav {
    text-align: center;
  }
}

@media (min-width: 1200px) {
  .footer__subscribe-list {
    display: flex;
    flex-direction: row;
  }
}

.footer-c {
  margin: 0;
}

.eff {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.364;
  /* or 136% */
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.back1 {
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../img/back.jpg");
  max-width: 1600px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

h3 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1875;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: #212121;
}
h3:not(.isk) {
  text-transform: uppercase;
}

h2:not(.title, .footer__subscribe-title, .modal__title) {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
}

ul {
  list-style-type: none;
}

.WebStudio2 {
  color: #000000;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  /* identical to box height */
  letter-spacing: 0.03em;
  text-decoration: none;
}

.WebS {
  display: flex;
  flex-direction: row;
}

ul:not(.isk, .section-three__list-image, .section-four__team-list, .section-six__images-container-content-list-card, .section-two__list-benefits, .mobile-kontakt-nav, .mobile-social) {
  display: flex;
  align-items: center;
}

.isk:not(.section-six__button-list) {
  display: flex;
  justify-content: center;
}

.notlipo {
  border: 1px solid #EEEEEE;
  height: 404px;
  width: 370px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.notlipo:hover, .notlipo:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  border: 1px solid #EEEEEE;
  height: 404px;
  width: 370px;
}

.marg:not(.section-two, .section-one) {
  margin: 0;
  padding-top: 94px;
  padding-bottom: 94px;
  text-align: center;
}

nav {
  margin-right: auto;
}

.class1 {
  justify-content: center;
}

.fk1 {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin: 0 auto;
}

h2 {
  margin-bottom: 50px;
}

.sectionportfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.backdrop {
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}
@media (max-width: 767px) {
  .backdrop {
    width: 450px;
  }
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  min-height: 581px;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  align-items: center;
}

.modal__close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}
.modal__close-button:hover {
  cursor: pointer;
}

.modal__close-icon {
  fill: #2196F3;
}

.modal_circle {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  padding: 10px;
  width: 30px;
  height: 30px;
  background-position: center;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal__close-button-svg {
  width: 11px;
  height: 11px;
  position: absolute;
  fill: #000000;
}
.modal__close-button-svg:hover {
  fill: #2196F3;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-color: var(--backdrop);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  align-items: center;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: var(--bg-body);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--bg-body);
  cursor: pointer;
}

.close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close:hover .close-icon, .close:focus .close-icon {
  fill: var(--accent);
}

.modal__title {
  margin-top: 40px;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--font-title);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.modal__form {
  width: 448px;
  margin-left: auto;
  margin-right: auto;
}

.modal__form-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.modal__form-field-form-label {
  margin-bottom: 4px;
  font-size: 12px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */
  letter-spacing: 0.01em;
  color: #757575;
}

.modal__form-field-form-input {
  margin: 0;
  padding: 12px 42px;
  height: 40px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
}

.modal__position {
  display: flex;
  flex-direction: column;
  position: relative;
}

.modal__form-field-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form-field-form-input:focus-visible {
  border-color: var(--accent);
}

.modal__position:hover .modal__form-field-form-input, .modal__position:focus .modal__form-field-form-input {
  border-color: var(--accent);
}
.modal__position:hover .modal__form-field-icon, .modal__position:focus .modal__form-field-icon {
  fill: var(--accent);
}

.modal__form-field-form-input:focus-visible + .modal__form-field-icon {
  fill: var(--accent);
}

.modal__form-textarea {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.textarea-input {
  resize: none;
  margin: 0;
  padding: 12px 16px;
  height: 120px;
  outline: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}
.textarea-input:hover, .textarea-input:focus, .textarea-input:focus-visible {
  border-color: var(--accent);
}
.textarea-input::placeholder {
  line-height: 1.14;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal__form-textarea-policy {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.modal__form-textarea-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal__form-textarea-check-control {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
}

.visually-hidden:checked {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.modal__form-textarea-policy-icon {
  opacity: 0;
  flex-shrink: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--accent);
  border-radius: 2px;
}

.modal__form-textarea-checkbox:checked ~ .modal__form-textarea-policy-icon {
  opacity: 1;
}

.modal__form-textarea-policy-input {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 7px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.modal__terms {
  padding-left: 7px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  /* identical to box height, or 171% */
  letter-spacing: 0.03em;
  color: #757575;
}

.modal__terms-link {
  color: var(--accent);
  text-decoration: underline;
  cursor: pointer;
}

.modal__button-submit {
  display: block;
  margin: auto;
  padding: 10px 56px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--font-active-button);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0;
  background-color: var(--accent);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 188% */
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container:not(.footer-c) {
    width: 1200px;
  }
}
.burger-btn,
.mobile-close-btn {
  background-color: transparent;
  border: none;
  padding: 0;
}

.burger-icon,
.mobile-close-icon {
  width: 40px;
  height: 36px;
  fill: #212121;
}
.burger-icon:hover,
.mobile-close-icon:hover {
  fill: var(--acent-color);
}

.burger-icon {
  width: 40px;
  height: 36px;
  fill: #212121;
  display: flex;
}

.mobile-close-icon {
  position: absolute;
  top: 10px;
  right: 15px;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 100%;
  max-width: 480px;
  height: 100vh;
  max-height: 100%;
  overflow: scroll;
  top: 0;
  left: 0;
  transform: translateX(-50%);
  transform: translateY(-100%);
  background-color: white;
  z-index: 1;
  transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  transform: translateX(0);
  transform: translateY(0);
}

.mobile-kontakt-social {
  position: absolute;
  bottom: 0;
}

.mobile-header-nav {
  margin-top: 10px;
  padding-left: 25px;
}
.mobile-header-nav .site-nav {
  display: block;
}
.mobile-header-nav .site-nav .item {
  margin-bottom: 32px;
}
.mobile-header-nav .site-nav .item:last-child {
  margin-bottom: 0px;
}
.mobile-header-nav .item {
  position: relative;
}
.mobile-header-nav .link-nav {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mobile-header-nav .link-nav:hover {
  color: #2196F3;
}
.mobile-header-nav .link-nav.current {
  color: #2196F3;
}

.tel-mail {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  /* identical to box height */
  letter-spacing: 0.02em;
  color: #2196F3;
  margin-bottom: 32px;
  display: block;
  margin-left: 40px;
}

.tel-mail2 {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #757575;
  margin-bottom: 64px;
  display: block;
  margin-left: 40px;
}

.mobile-kontakt-nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.mobile-social-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  /* identical to box height, or 122% */
  letter-spacing: 0.02em;
  color: #2196F3;
}

.mobile-social {
  display: block;
  margin-bottom: 48px;
}

.mobile-social-link {
  margin-left: 40px;
}

.mobile-kontakt-nav {
  align-items: flex-start;
  justify-content: flex-start;
  display: flex;
}

.mobile-social {
  align-items: flex-start;
  justify-content: flex-start;
  display: flex;
}/*# sourceMappingURL=main.css.map */