.title, .footer__subscribe-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.167;
    letter-spacing: 0.03em;
    color: #212121;
  }
  
  footer {
    background: #2F303A;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .footer__contacts-link {
    @media (max-width: 768px) {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      /* or 171% */
      
      letter-spacing: 0.03em;
      
      color: rgba(255, 255, 255, 0.6);
    }
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    
    letter-spacing: 0.03em;
    
    color: rgba(255, 255, 255, 0.6);
    


  }

  .footer__contacts-location {
    @media (max-width: 768px) {
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 24px;
/* or 171% */

text-align: center;
letter-spacing: 0.03em;

color: #FFFFFF;

      }
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 24px;
      /* or 171% */
       
      letter-spacing: 0.03em;
      
      color: #FFFFFF;
  }

  .footer__logo-text-two-partition {
    color: #FFFFFF;
  }
  

  footer {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .footer__contacts {
    display: flex;
    flex-direction: column;
    padding-top: 9px;
    @media (max-width: 1199px) {
      text-align: center;
    }
  }
  .footer__logo-link {
    color: #000000;
    text-decoration: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
  }
  .footer .title .footer__subscribe-title {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--footer-text);
  }
  

  .footer__social {
    @media (max-width: 767px) {
      margin-top: 60px;
    }
    @media (min-width: 1200px) {
      margin-left: 70px;
    }
   text-align: center;
  }
  
  .footer__social-links {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer__social .footer__social-links-item {
    width: 44px;
    height: 44px;
  
    &:not(:last-child) {
      margin-right: 10px;
    }
  }
  

  
  .footer__social .footer__social-links-item-link {
    &:focus, &:hover {
      background-color: var(--accent);
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
  }
  
  footer {
display: flex;
flex-direction: column;
    @media (min-width: 768px) {
    display: flex;
    flex-direction: row;
      }
  }
  .fk1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
        @media (min-width: 768px) {
        display: flex;
        flex-direction: row;
          }
      }

  .footer .footer__social-title {
    @media (min-width: 1200px) {
      margin-bottom: 20px;
      font-size: 14px;
      font-weight: 700;
      line-height: 1.14;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      color: var(--footer-text);
      display: flex;
      justify-content: left;
    }

    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--footer-text);

  }
  
  .title, .footer__subscribe-title {
    font-size: 14px;
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--footer-text);
    font-size: 14px;
  }

    

  


  

  .fk1, .footer__level-controller {
    display: flex;
    align-items: baseline;
  }
  
 

  footer {
    display: flex;
  }
  
  .footer__contacts {
  
  }
  
  .ulfooter {
    display: flex;
  }
  
  .footer__subscribe-title {

  }
  

  

  
  .footer__contacts-location {
    margin-top: 20px;
  }
  
  .footer__contacts-link {
    margin-top: 9px;
  }
  

  .footer__subscribe {
@media (max-width: 1199px) {
  margin-top: 60px;
text-align: center;
}
  }
  
  .footer__subscribe-item {
    width: 100%;
  }
  
  .footer__subscribe-item-form {
display: flex;
flex-direction: column;
  }
  
  .footer__subscribe-item .footer__subscribe-item-input {
    height: 50px;
    width: 100%;
    margin-right: 12px;
    padding-left: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: var(--bg-footer);
    color: var(--footer-text);
  }
  

  
  .footer__subscribe-item-input {
    margin-left: 93px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
  
    /* identical to box height, or 125% */
  
    display: flex;
    align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    width: 100%;
    @media (min-width: 480px) {
      width: 450px;
    }

    @media (min-width: 1200px) {
      width: 358px;
    }
  }
  
  .footer__subscribe-title {

  }
  
  .footer__social-links-item-link-icon {
    fill: var(--footer-text);
  }
  
  .footer__subscribe-item-button-svg {
    fill: var(--footer-text);
    margin-left: 10px;
  }
  
  .footer__all-content {
@media (min-width: 1200px) {
  display: flex;
  flex-wrap: nowrap;
  align-items: baseline;
}
  }

  .footer__nav {
    @media (max-width: 1199px) {
          text-align: center;
    }

  }





  .footer__subscribe-list {
  @media (min-width: 1200px) {
    display: flex;
    flex-direction: row;
  }
  }