:root {
    --bg-body:#fff;
    --font-title:#212121;
    --accent:#2196f3;
    --font-p:#757575;
    --header-border:#ececec;
    --bg-order:#c4c4c4;
    --font-order:#fff;
    --font-active-button:#fff;
    --bg-hover-buton-order:#188ce8;
    --bg-our-team:#f5f4fa;
    --bg-footer:#2f303a;
    --footer-text:#fff;
    --footer-contacts:rgba(255, 255, 255, 0.6);
    --bg-button:#f5f4fa;
    --border-card:#eeeeee;
    --social-icon:#afb1b8;
    --backdrop:rgba(0, 0, 0, 0.2);
    --card-overlay:rgba(33, 150, 243, 0.9);
    --border-input:rgba(33, 33, 33, 0.2);
  }

  :root {
    --bg-body:#fff;
    --font-title:#212121;
    --accent:#2196f3;
    --font-p:#757575;
    --header-border:#ececec;
    --bg-order:#c4c4c4;
    --font-order:#fff;
    --font-active-button:#fff;
    --bg-hover-buton-order:#188ce8;
    --bg-our-team:#f5f4fa;
    --bg-footer:#2f303a;
    --footer-text:#fff;
    --footer-contacts:rgba(255, 255, 255, 0.6);
    --bg-button:#f5f4fa;
    --border-card:#eeeeee;
    --social-icon:#afb1b8;
  }